h1,h2,h3,h4{font-weight:100;}
.sansfont{font-family: 'Open Sans', sans-serif;}
.heifont{font-family:"Microsoft YaHei",sans-serif;}
#layout{padding-left:200px;}
a{text-decoration:none;}
.padding-box{padding:1.6em;}
.padding-box-1{padding:0.8em 1.6em;}
.margin-box{margin:1.6em;}
.align-center{text-align:center;}
.red{color:#db4f33;}
pre{padding:1em;font-size:100%;color:#333;background:#f5f5f5;letter-spacing:0.1em;line-height:1.5em;}
code{border: none;margin:0 2px;font-size:1em;padding:0.4em 0.6em;white-space: nowrap;background:#f5f5f5;color:#333;}
.pure-button-small {font-size: 80%;}
/*menu start*/
#menu{margin-left:-200px;width:200px;position:fixed;top:0;left:200px;bottom:0;z-index:1000;background:#191818;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scroll:touch;}
#menu a{color:#999;border:none;white-space:normal;font-weight:400;padding:0.5em 0 0.5em 1em;letter-spacing:2px;}
#menu .pure-menu-open{background:transparent;border:0;}
#menu .pure-menu ul{border:none;background:transparent;}
#menu .pure-menu ul,#menu .pure-menu .menu-item-selected{border-top:1px solid #333;}
#menu .pure-menu li a:hover,#menu .pure-menu li a:focus{background:#333;}
.pure-menu-link{display:none;top:0;left:150px;background:#000;background:rgba(0,0,0,0.7);padding:0.75em 1em;}
.pure-menu-link:hover,.pure-menu-link:focus{background:#000;}
#menu .pure-menu-heading{font-size:200%;color:#fff;font-weight:100;letter-spacing:10px;text-transform:none;padding-left:0.6em;margin-top:0;}
#menu .pure-menu-heading:hover,#menu .pure-menu-heading:focus{color:#999;}
#menu .pure-menu-selected{background:#1f8dd6;}
#menu .pure-menu-selected a{color:#fff;}
#menu li.pure-menu-selected a:hover,#menu li.pure-menu-selected a:focus{background:none;}
/*main start*/
#main{width:100%;}
#main .hgroup{text-align:center;padding:1.2em 0;}
#main .hgroup h1{color:#1f8dd6;font-size:500%;margin:0;padding:0;}
#main .hgroup h2{color:#666;font-size:170%;}
#main .hgroup p a{line-height:1.6em;margin:0 0.2em;}
#main .hgroup pre{padding:1em;font-size:100%;color:#333;background:#f5f5f5;letter-spacing:0.1em;}

#main .content{color:#333;}
#main .content .pure-g-r{border-top:1px solid #ddd;}
#main .content h3,#main .content h4{font-size:1.2em;margin-top:0;}
#main .content p,#main .content ul{font-size:1em;line-height:1.8em;color:#666;}
#main .content ul{padding-left:24px;}
#main .content h2,#main .content h3,#main .content h4{font-family:"Microsoft YaHei",sans-serif;}
#main .content h3 a{color:#333;cursor:default;font-family: 'Open Sans', sans-serif;font-size:140%;}

#main .content .bottom{background:#f5f5f5;color:#666;border-top:3px solid #ddd;}
#main .content .bottom p{margin:0;padding:0;font-size:0.8em;color:#666;}
#main .content .bottom a{color:#3b8bba;text-decoration:none;}
#main .content .bottom a:hover{color:#265778;}
#main .content .bottom-right{text-align:right;}
#main .content a.center-name{font-size:200%;line-height:2em;}
/*page header*/
#main .header{text-align:center;padding:1.2em 0;border-bottom:1px solid #eee;}
#main .header h1{font-size:200%;color:#666;margin:0.2em 0;}
#main .header p{font-size:140%;color:#999;margin:0.2em 0;font-weight:100;}

#main .intro ul{padding-left:2.5em;}
#main .content a{color:#3b8bba;}
#main .content a:hover{color:#265778}
#main .content .notice{border-bottom:2px solid rgb(202, 60, 60);}
/*animate*/
#animate{height:100%;}
#touch li{height:100%;float:left;text-align:center;}

/*demo*/
#animate{width:100%;height:162px;white-space:nowrap;}
#animate .pure-u{width:100%;height:100%;}
.bg-green{background:#42d692;}
.bg-blue{background:#4986e7;}
.bg-red{background:#d06b64;}
.bg-purple{background:#cd74e6;}

.animateWrap{overflow:hidden;position:relative;}
.animateWrap .pure-button{position:absolute;top:60px;letter-spacing:0.1em;}
.animateWrap .prev{left:0px;}
.animateWrap .next{right:0px;}
.hide-code{display:none;height:0px;}

/*demo*/
.starWrap{position:relative;width:300px;height:300px;background:#f5f5f5;}
.starWrap .circle{width:30px;height:30px;border:1px solid #eee;box-shadow:0px 0px 10px rgba(0,0,0,0.3);border-radius:30px;position:absolute;left:0px;top:0px;}
.starWrap .c1{left:20px;top:120px;}
.starWrap .c2{left:120px;top:30px;}
.starWrap .c3{left:220px;top:120px;}
.starWrap .c4{left:170px;top:220px;}
.starWrap .c5{left:70px;top:220px;}

#circle{background:#db4f33;left:20px;top:120px;}